<!-- {% extends 'base.html' %}

{% block content %}
    <div class="detail-image">
        <img src="http://localhost:8000/media/{{ place.image }}" alt="">
    </div>
    <div>
        {{ place.name }}
    </div>
    <div>
        {{ place.description }}
    </div>
    <div>
        {{ place.address }}
    </div>
    <div>
        {{ place.website }}
    </div>
    <div class="hashtag-img-container" style="width:100%;">
    {% for post in hashtag_posts %}
        <img src="{{ post }}" alt="" style="width: 50%; height: 50%; padding: 2px; border-radius: 5px;">
    {% endfor %}
    
    </div>


{% endblock %} -->