body {
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 2px;
    max-width: 375px;
}

.text-bold {
    font-weight: bold;
}

.text-mid {
    font-size: 1.5em;
}

.red {
    color: red;
}

.yellow {
    color: #F9D300;
}

.green {
    color: green;
}

.main-content {
    /* background: lightgray; */
    height: 60vh;
}

.img-box{
    display: flex;
    justify-content: center;
    background: dodgerblue;
    border-radius: 10px;
    width: 100%;
    height: 75%;
    position: relative;
}

.place {
    position: absolute;
    top: 30%;
    right: 8%;
}

.img-box img {
    width: 100%;
    height: 100%;
}

/* 현황판 신호 색깔 */
.color-info {
    display: flex;
    justify-content: space-between;
    margin: 1em auto 0 auto;
    width: 70%;
}

.marker {
    position: absolute;
}

.light {
    display: flex;
    padding-left: 0.5em;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.light-on {
    margin-right: 3%;
}

.light-on-text {
    font-size: 0.9em;
}

.modal-body-content {
    width: 100%;
    height: 190px;
    display: flex;
}

.modal-image-box {
    width: 60%;
    height: 100%;
}

.modal-image-box img {
    width: 100%;
    height: 100%;
}

.modal-sticker-log {
    width: 40%;
    height: 100%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.modal-instagram {
    margin-top: 1rem;
}

.hashtag {
    background: pink;
    height: 200px;
}

.modal-sticker {
    width: 80%;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.timeago {
    color: gray;
    font-size: 0.7em;
    padding-top: 3%;
    padding-left: 3%;
}

.current-status {
    padding-left: 10%;
}

.congestion-log-title {
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
    font-size: 1.2em;
    font-weight: bold;
    color: lightslategray;
}
.left-side {
    width: 95%;
    padding-left: 0.5em;
}

.congestion-log {
    display: flex;
    width: 90%;
    height: 160px;
    overflow: scroll;
    margin: 0 auto;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.congestion-place {
    width: 60%;
    display: flex;
    justify-content: center;
}

.scroll-guide{
    position: absolute;
    display: none;
    background: red;
    top: 40%;
    right: 35%;
}

.log {
    display: flex;
    align-items: center;
}

.log div:nth-child(2) {
    margin-right: 1em;
}

.log-timeago {
    color: gray;
    font-size: 0.8em;
}