body {
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 2px;
    /* max-width: 375px; */
}
.red {
    color: red;
}

.yellow {
    color:yellow;
}

.green {
    color: green;
}

.main-content {
    background: lightgray;
    height: 60vh;
}

.img-box{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75%;
    border-bottom: 1px solid black;
    position: relative;
}

.place {
    position: absolute;
    top: 30%;
    right: 8%;
}

.img-box img {
    width: 100%;
    height: 100%;
}

/* 현황판 신호 색깔 */
.color-info {
    display: flex;
    justify-content: space-between;
    margin: 1em auto 0 auto;
    width: 70%;
}

.marker {
    position: absolute;
}

.light {
    font-weight: bold;
}

.modal-body-content {
    width: 100%;
    display: flex;
}

.modal-image-box {
    width: 50%;
    height: 100%;
}

.modal-image-box img {
    width: 100%;
    height: 100%;
}

.modal-sticker-log {
    width: 50%;
    background: yellow;
    margin-left: 1em;
}

.modal-instagram {
    margin-top: 1rem;
}

.hashtag {
    background: pink;
    height: 200px;
}

.modal-sticker {
    width: 80%;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-between;
}