{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="background-box">
    <div class="main-content">
        <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1" />
                <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa" />
            </g>
        </svg>
        <div class="img-box">
            <!-- <a href=""> <i class="text-smd halla fas fa-mountain"></i></a> -->
            <i class="text-mid category-menu menu-color fas fa-caret-square-down"></i>
            <div class="category-list" style="display: none;">
                <div>
                    <a class="category-item" href="{% url 'main:index'%}">전체</a>
                </div>
                {% for category in categories %}
                <div>
                    <a class="category-item" href="{% url  'main:place_in_category' category %}">{{ category }}</a>
                </div>
                {% endfor %}
            </div>
            <img src="{% static 'imgs/new.png' %}" alt="">
            {% for place in places %}
            <a class="marker" style="top:{{ place.lat }}%; right: {{ place.lng }}%;" href="#" type="button"
                data-toggle="modal" data-target="#exampleModal{{place.id}}">
                {% if place.get_congestion_avg == 3 %}
                {% if place.category.id == 1 %}
                <i class="text-smd red fas fa-umbrella-beach"></i>
                {% elif place.category.id == 2 %}
                <i class="text-smd red fas fa-tree"></i>
                {% elif place.category.id == 3 %}
                <i class="text-smd red fas fa-vihara"></i>
                {% else %}
                <i class="text-smd red fas fa-video"></i>
                {% endif %}

                {% elif place.get_congestion_avg == 2 %}
                {% if place.category.id == 1 %}
                <i class="text-smd yellow fas fa-umbrella-beach"></i>
                {% elif place.category.id == 2 %}
                <i class="text-smd yellow fas fa-tree"></i>
                {% elif place.category.id == 3 %}
                <i class="text-smd yellow fas fa-vihara"></i>
                {% else %}
                <i class="text-smd yellow fas fa-video"></i>
                {% endif %}

                {% else %}
                {% if place.category.id == 1 %}
                <i class="text-smd green fas fa-umbrella-beach"></i>
                {% elif place.category.id == 2 %}
                <i class="text-smd green fas fa-tree"></i>
                {% elif place.category.id == 3 %}
                <i class="text-smd green fas fa-vihara"></i>
                {% else %}
                <i class="text-smd green fas fa-video"></i>
                {% endif %}
                {% endif %}
                <p class="arrow-box">{{place.name}}</p>
            </a>
            {% endfor %}
            <!-- <a class="marker" style="top: 65%; right: 50%" href="#" type="button" data-toggle="modal" data-target="#exampleModal">
            <i class="green fas fa-map-marker"></i>
        </a> -->
        </div>
        <div class="color-info">
            <div class="light">
                <i class="text-smd green fas fa-people-arrows"></i>
                <span class="white pl">쾌적</span>
            </div>
            <div class="light">
                <i class="text-smd yellow fas fa-people-arrows"></i>
                <span class="white pl">보통</span>
            </div>
            <div class="light">
                <i class="text-smd red fas fa-people-arrows"></i>
                <span class="white pl">혼잡</span>
            </div>
        </div>
        <div class="congestion-log-title">
            <span>최근 24시간 이내의 혼잡도 기록</span>
        </div>
    </div>
    <div class="congestion-log">
        <div class="left-side">
            {% for congestion in congestions %}
            <div class="log">
                <div class="white text-bold congestion-place">{{ congestion.place }}에서 </div>
                <div>
                    {% if congestion.value == 3 %}
                    <i class="text-mid red fas fa-people-arrows"></i>
                    {% elif congestion.value == 2 %}
                    <i class="text-mid yellow fas fa-people-arrows"></i>
                    {% else %}
                    <i class="text-mid green fas fa-people-arrows"></i>
                    {% endif %}
                </div>
                <div class="log-timeago">{{ congestion.time_since_created }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="right-side">
        </div>
    </div>
</div>

{% for place in places %}
<div class="modal modal-md fade" id="exampleModal{{place.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="width: 100%">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; font-size: 1.2em;">
                    {{ place.name }}</h5>
                {% if place.get_congestion_avg == 3 %}
                <div class="current-status">
                    <i class="text-mid red fas fa-people-arrows"></i>
                    <span class="text-mid text-bold">혼잡</span>
                </div>
                {% elif place.get_congestion_avg == 2 %}
                <div class="current-status">
                    <i class="text-mid yellow fas fa-people-arrows"></i>
                    <span class="text-mid text-bold">보통</span>
                </div>
                {% else %}
                <div class="current-status">
                    <i class="text-mid green fas fa-people-arrows"></i>
                    <span class="text-mid text-bold">쾌적</span>
                </div>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: -1em;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0 1em 0 1em; margin-bottom: 1em;">
                <div class="modal-body-content">
                    <div class="modal-image-box">
                        <img src="http://localhost:8000/media/{{ place.image }}" alt="">
                    </div>
                    <div class="modal-sticker-log">
                        {% for congestion in place.congestions.all %}
                        {% if congestion.value == 3 %}
                        <div class="light">
                            <div class="light-on">
                                <i class="fas fa-street-view" style="color: red;"></i>
                                <span class="light-on-text">혼잡</span>
                            </div>
                            <span class="timeago">{{ congestion.time_since_created }}</span>
                        </div>
                        {% elif congestion.value == 2 %}
                        <div class="light">
                            <div class="light-on">
                                <i class="fas fa-street-view" style="color: yellow;"></i>
                                <span class="light-on-text">보통</span>
                            </div>
                            <span class="timeago">{{ congestion.time_since_created }}</span>
                        </div>
                        {% else %}
                        <div class="light">
                            <div class="light-on">
                                <i class="fas fa-street-view" style="color: green;"></i>
                                <span class="light-on-text">쾌적</span>
                            </div>
                            <span class="timeago">{{ congestion.time_since_created }}</span>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-instagram">
                    <i class="fab fa-instagram" style="font-weight: bold;"></i> INSTAGRAM
                    <div class="hashtag">

                    </div>
                </div>
                <div class="modal-sticker-guide">
                    사람이 많았나요 ?
                </div>
                <div class="modal-sticker">
                    <!-- <a href="{% url 'place:add-congestion' place.id 1 %}"><i class="fas fa-circle"
                            style="color: green;"></i>쾌적</a>
                    <a href="{% url 'place:add-congestion' place.id 2 %}"><i class="fas fa-circle"
                            style="color: yellow;"></i>보통</a>
                    <a href="{% url 'place:add-congestion' place.id 3 %}"><i class="fas fa-circle"
                            style="color: red;"></i>혼잡</a> -->
                    <a style="font-size:0.8em" class="sticker btn btn-primary"
                        href="{% url 'place:add-congestion' place.id 1 %}">쾌적했어요</a>
                    <a style="font-size:0.8em; color: white;" class="btn btn-warning"
                        href="{% url 'place:add-congestion' place.id 2 %}">보통이에요</a>
                    <a style="font-size:0.8em" class="btn btn-danger"
                        href="{% url 'place:add-congestion' place.id 3 %}">혼잡했어요</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫 기</button>
                <a type="button" href="{% url 'place:place-detail' place.id %}" class="btn btn-secondary"
                    style="color: white">상세 보기</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}