{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main-content">
    <div class="img-box">
        <!-- <img src="{% static 'imgs/jejudo2.png' %}" alt=""> -->
        <img src="{% static 'imgs/new.png' %}" alt="">
        {% for place in places %}
        <a class="marker" style="top:{{ place.lat }}%; right: {{ place.lng }}%;" href="#" type="button"
            data-toggle="modal" data-target="#exampleModal{{place.id}}">
            {% if place.get_congestion_avg == 3 %}
            <i class="red fas fa-map-marker"></i>
            {% elif place.get_congestion_avg == 2 %}
            <i class="yellow fas fa-map-marker"></i>
            {% else %}
            <i class="green fas fa-map-marker"></i>
            {% endif %}
        </a>
        {% endfor %}
        <!-- <a class="marker" style="top: 65%; right: 50%" href="#" type="button" data-toggle="modal" data-target="#exampleModal">
            <i class="green fas fa-map-marker"></i>
        </a> -->
    </div>
    <div class="color-info">
        <div class="light">
            <i class="green fas fa-map-marker"></i>
            쾌적
        </div>
        <div class="light">
            <i class="yellow fas fa-map-marker"></i>
            보통
        </div>
        <div class="light">
            <i class="red fas fa-map-marker"></i>
            혼잡
        </div>
    </div>
</div>
<div>
    최근 24시간 이내의 혼잡도 기록이 표시됩니다
</div>

{% for place in places %}
<div class="modal modal-md fade" id="exampleModal{{place.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="width: 100%">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; font-size: 1.2em;">{{ place.name }}</h5>
                {% if place.get_congestion_avg == 3 %}
                <div class="current-status">
                    <i class="text-mid red fas fa-people-arrows"></i>
                    <span class="text-mid text-bold">혼잡</span>
                </div>
                {% elif place.get_congestion_avg == 2 %}
                <div class="current-status">
                    <i class="text-mid yellow fas fa-people-arrows"></i>
                    <span class="text-mid text-bold">보통</span>
                </div>
                {% else %}
                <div class="current-status">
                    <i class="text-mid green fas fa-people-arrows"></i>
                    <span class="text-mid text-bold">쾌적</span>
                </div>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0 1em 0 1em; margin-bottom: 1em;">
                <div class="modal-body-content">
                    <div class="modal-image-box">
                        <img src="http://localhost:8000/media/{{ place.image }}" alt="">
                    </div>
                    <div class="modal-sticker-log">
                        {% for congestion in place.congestions.all %}
                        {% if congestion.value == 3 %}
                        <div class="light">
                            <div class="light-on">
                                <i class="fas fa-circle" style="color: red;"></i>
                                <span class="light-on-text">켜짐</span>
                            </div>
                            <span class="timeago">{{ congestion.created_at|timesince }} 전</span>
                        </div>
                        {% elif congestion.value == 2 %}
                        <div class="light">
                            <div class="light-on">
                                <i class="fas fa-circle" style="color: yellow;"></i>
                                <span class="light-on-text">켜짐</span>
                            </div>
                            <span class="timeago">{{ congestion.created_at|timesince }} 전</span>
                        </div>
                        {% else %}
                        <div class="light">
                            <div class="light-on">
                                <i class="fas fa-circle" style="color: green;"></i>
                                <span class="light-on-text">켜짐</span>
                            </div>
                            <span class="timeago">{{ congestion.created_at|timesince }} 전</span>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-instagram">
                    <i class="fab fa-instagram" style="font-weight: bold;"></i> INSTAGRAM
                    <div class="hashtag">

                    </div>
                </div>
                <div class="modal-sticker">
                    <a href="{% url 'place:add-congestion' place.id 1 %}"><i class="fas fa-circle"
                            style="color: green;"></i>쾌적</a>
                    <a href="{% url 'place:add-congestion' place.id 2 %}"><i class="fas fa-circle"
                            style="color: yellow;"></i>보통</a>
                    <a href="{% url 'place:add-congestion' place.id 3 %}"><i class="fas fa-circle"
                            style="color: red;"></i>혼잡</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫 기</button>
                <button type="button" class="btn btn-primary">상세 보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}